.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 20px auto;

  @include breakpoint(mb){
    display: block;
  }
}

.column {
  padding: 20px;
}

.column-1 {
  width: 30%;
  text-transform: uppercase;

  @include breakpoint(mb){
    width: 100%;
  }
}

.column-2 {
  width: 66%;
  @include breakpoint(mb){
    width: 100%;
  }
}

.log-info {
  margin-top: 30px;
}

.log-item {
  margin: 10px 0;
  font-size: 16rem;
}

.log-descriptor {
  font-size: 11rem;
}

.project-about-title {
  text-transform: uppercase;
  font-size: 14rem;
}

.project-about-copy {
  margin-top: 20px;
}